* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #59abcc;
  background-image: linear-gradient(to top left, #49d3dd 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(9, 11, 161, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(13, 69, 107, 0.911);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.active-player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
.active-player2 {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
/* ELEMENTS */
.name1 {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.name2 {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.btn-new {
  top: 4rem;
}
.btn-roll1 {
  position: absolute;
  font-size: large;
  left: 18.3%;
  top: 30rem;
  font-style: oblique;
  color: #850505;
}
.btn-roll2 {
  position: absolute;
  top: 30rem;
  font-size: large;
  left: 65.3%;
  font-style: italic;
  color: #850505;
}
.dice {
  position: absolute;
  left: 22%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(109, 65, 65, 0.2);
}
.dice2 {
  position: absolute;
  left: 69%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}
.winner-1 {
  position: absolute;
  top: 50rem;
  left: 35%;
  font-size: xx-large;
  color: #0f0350;
}
.winner-2 {
  position: absolute;
  top: 50rem;
  left: 35%;
  font-size: xx-large;
  color: #0f0350;
}
